/************************
CSS Variables
************************/
:root {
  --primary: #3d587a;
  --secondary: #778290;
  --text-black: black;
  --text-dark-blue: #2a425e;
  --off-white: #d9d9d9;
  --white: #ffffff;
  --border-radius: 25px;
}
/************************
CSS Resets
************************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
}

a,
button,
input[type='submit'] {
  cursor: pointer;
}
/************************
General Styles
************************/
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  width: 60vw;
  align-items: center;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button:hover,
a:hover {
  color: var(--text-dark-blue);
  text-decoration: underline;
}
/************************
Navbar
************************/
.navbar {
  width: 100vw;
  background-color: var(--off-white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  box-shadow: 0 0 3px 2px;
  padding: 0 18px;
}

.logo {
  width: 30px;
}

.link-navbar {
  color: var(--primary);
  font-size: 1.1em;
  margin: 0 0 5px;
  text-decoration: none;
  display: inline-block;
  padding: 3px 10px;
  font-size: 1.125rem;
  border: 3px solid transparent;
  border-color: var(--secondary);
  border-radius: var(--border-radius);
  margin-left: 10px;
}

/************************
Posts
************************/
.post {
  min-width: 350px;
  width: 50vw;
  border: 1px solid var(--off-white);
  border-radius: var(--border-radius);
  min-height: 10vh;
  margin-bottom: 22px;
}

.post-header {
  background-color: var(--off-white);
  height: 20%;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-header-info {
  display: inherit;
  flex-direction: column;
  margin: 10px 10px;
}

.post-header-info p {
  color: var(--primary);
  font-size: 1.1em;
  margin: 0 0 5px;
}

.post-header-info label {
  color: var(--secondary);
  font-size: 0.75em;
  margin: 0;
}

.post-header .user-icon {
  object-fit: cover;
  background-color: var(--white);
  height: 49px;
  width: 49px;
  border-radius: 50%;
  border: 1px solid var(--text-dark-blue);
  padding: 1px;
  margin: 2px 10px;
}

.post-body {
  margin: 10px 25px;
  color: var(--text-dark-blue);
}

.post-less-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.post-full-text {
  height: auto;
}

.post-message {
  word-wrap: break-word;
}

.post-footer {
  height: 30px;
  padding: 5px 25px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.btn-message {
  font-size: 0.9em;
  display: contents;
  border: none;
  color: var(--primary);
}

.img_likes {
  display: block;
  max-width: 100%;
  width: 20px;
}

.btn-message:hover {
  color: var(--text-dark-blue);
}

/************************
Add Post Form
************************/
.add-post-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.add-post-form input {
  width: 100%;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  height: 40px;
  border: 1px solid var(--off-white);
}

.add-post-form button {
  width: 100px;
  height: 40px;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  color: var(--text-dark-blue);
  border: 1px solid var(--off-white);
  background-color: var(--off-white);
}

.add-post-form input::placeholder {
  font-size: 15px;
  padding: 10px;
}

.add-post-form input {
  font-size: 1.1em;
  padding: 0 10px;
}

/************************
Signup & Login Form
************************/
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.login-form,
.sign-up-form {
  display: flex;
  flex-direction: column;
  min-width: 20vw;
  width: 420px;
}

.login-form label,
.sign-up-form label {
  margin: 5px 0;
}

.login-form-submit,
.sign-up-form-submit {
  margin: 10px 0;
}

.img-container {
  width: 420px;
}

.form-img {
  height: 60px;
  width: 60px;
}

.img-container input {
  position: absolute;
  margin: 43px -37px;
}

.img-container-hide {
  display: none;
}

/************************
Profile
************************/
.container .user-pic {
  object-fit: cover;
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 5px solid var(--primary);
  padding: 1px;
  margin: 2px 10px;
}
